# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.*
Homestead.json
Homestead.yaml
.phpunit.result.cache
/storage/app/public
/storage/framework/cache/data
/storage/logs
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
.idea/
.vscode/
.DS_Store
Thumbs.db
.env.backup
.env.local
.env.production
.env.development
.env.testing
.env.example

*.log
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/storage/pail
npm-debug.log
yarn-error.log
